/* RESPONSIVO */

@media (min-width: 1024px) {
    #navbar-mobile {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    #navbar-desktop {
        display: none !important;
    }

    .projetoExemplo {
        display: block !important;
    }

    #navbar-mobile {
        display: flex !important;
    }

    #intro {
        flex-wrap: wrap-reverse !important;
    }

    .introducao-text {
        width: 100% !important;
        text-align: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .redes-sociais {
        margin: 0 auto !important;
        padding: 0;
    }

    .imagem {
        display: flex;
        width: 100% !important;
    }
    
    h1, h2 {
        font-size: 2rem !important;
    }


}