@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --light: #E5E5E5;
    --dark: #2F2F2F;
    height: 100vh;
    overflow: none;
}

body {
    max-width: 1600px;
    height: 100vh;
    cursor: url(./assets/btn/nrm.svg), auto;
    background-color: var(--light);
}

.cursorClick {
    cursor: url(./assets/btn/normal.svg), auto;
}

.eu-invisivel {
    width: 400px;
    height: 400px;
}

#eu {
    position: absolute;
    transform: translate(-57%, -30%);
    z-index: -1;
}


/* RESPONSIVO */

@media (min-width: 1024px) {
    #navbar-mobile {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    #navbar-desktop {
        display: none !important;
    }

    .pj {
        display: block !important;
    }

    #navbar-mobile {
        display: flex !important;
    }

    #intro {
        flex-wrap: wrap-reverse !important;
    }

    .introducao-text {
        width: 100% !important;
        text-align: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .redes-sociais {
        margin: 0 auto !important;
        padding: 0;
    }

    .imagem {
        display: flex;
        width: 100% !important;
    }

    .nome {
        display: flex;
        align-self: self-end;
    }
}

#navbar-desktop {
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}

#navbar-mobile {
    display: flex;
}

.menu-mobile ul {
    display: block;
    text-align: end;
}

.menu-mobile ul li {
    position: relative;
    padding-top: 5px;
}

.menu-mobile {
    display: none;
    padding-bottom: 10px;
    z-index: -5000;
    border-top: solid 1px rgb(188, 184, 184);
    border-bottom: solid 1px rgb(188, 184, 184);
}

@keyframes slide-in {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.anima {
    animation: slide-in 0.5s;
}

@keyframes slide-out {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-50px);
    }
}


header {
    width: 100%;
}

.menu-icons {
    display: flex;
    margin: 0;
    right: 0%;
    justify-content: end;
}

.btnSwitch {
    width: 40px !important;
    align-self: flex-end;
}

body {
    width: 90%;
}

/* GLOBAIS */
* {
    /*background-color: var(--light);*/
    color: var(--dark);
    font-family: 'Inconsolata', monospace;
    margin: 0 auto;
    font-size: 1.1rem;
}

h1,
h2 {
    font-family: 'Lilita One', sans-serif;
}

h1 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    padding: 0 10px;
}

li {
    list-style: none;
    height: auto;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* NAVBAR*/





/*menu*/
.btnLight {
    display: none;
}

.b {
    padding: 0 10px;
    width: 35px;
}

.b:hover {
    transform: scale(1.05);
}

/*INTRODUCAO*/

#intro,
#sobre,
#skills {
    padding-top: 150px;
}

#sobre,
#skills,
#projetos {
    padding-top: 120px;
}

.redes-sociais {
    padding-top: 25px;
}



.icon {
    width: 30px;
}

.primaryColor {
    stroke: var(--light);
}

.secundaryColor {
    stroke: var(--dark);
}

.redes-sociais {
    display: flex;
    margin-left: 0px;
    width: 240px;
}

footer {
    margin-top: 120px;
}

#intro {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.introducao-text {
    width: 50%;
}

.introducao-img {
    width: 50%;
    max-width: 500px;
}


#container-skills {
    display: flex;
    flex-wrap: wrap;
}


.btn-projeto {
    display: flex;
    position: relative;
    bottom: 30px;
    width: 100%;
}

.btn {
    text-align: center;
    padding: 10px;
    background-color: var(--light);
    color: var(--dark);
    width: 50%;

}

.colorAnimation:hover {
    background-color: var(--dark);
    color: var(--light);
}


.pjText {
    padding: 20px;
    font-size: 100%;
}

.projeto-imagem {
    padding: 20px;
    min-width: 40%;
}

.projeto-imagem>img {
    width: 100%;
}

.pj {
    display: flex;
    align-items: center;

}

footer {
    position: relative;
    text-align: center;
    bottom: 0px;
}