@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Inconsolata', monospace;
  background-color: #E5E5E5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 !important;;
}

.ba {
  padding:0.5rem 0.5rem;
  margin:0 0.5rem;
  font-size:1rem;
  border:solid 3px #41403E;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
}

h5 {
  font-weight: 800;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.hover-effect:hover {
  background-color: #1a1a1a;
  color: #f9f9f9;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Lilita One', sans-serif;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
  font-family: 'Lilita One', sans-serif;
  text-align: left;

}
