@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ba {
  padding:0.5rem 0.5rem;
  margin:0 0.5rem;
  font-size:1rem;
  border:solid 3px #41403E;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
}

* {
  font-family: 'Inconsolata', monospace;
}
 
h5 {
  font-weight: 800;
}



.ttt:hover {
  animation: type 1s step-start ;
}

@keyframes type{
  from { 
    width: 0;
    text-decoration: wavy 1px red;
    text-decoration: underline 2;
  }
  to { 
    width: 100%;
    color:#646cff
  }
 }

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Lilita One', sans-serif;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
  font-family: 'Lilita One', sans-serif;
  text-align: left;

}

#at {
  position: absolute;
  left: 0;
  top:0;
  justify-content: center;
  display: flex;
}